.columnOfListas {

  padding-left: 0.5% !important;
  margin-top: 3%;
  margin-bottom: 3%;
}

.columnTitle {

  color: var(--pure-white);
  padding-bottom: 1%;


}

.mostrarT {

  justify-content: flex-end;
  padding-top: 0.6%;
  padding-right: 2%;
  color: var(--grey);
}

.mostrarT:hover {
  text-decoration: underline;
}

.card {

  padding: 1.5%;
  margin-right: 2%;
  background-color: var(--third-black) !important;
}

.card:hover {

  background-color: var(--hover-white) !important;
}

.card_body {

  padding-top: 5% !important;
  padding-left: 0% !important;
}

.tituloLista {

  color: var(--pure-white);
}

.autorLista {

  color: var(--grey);
}

.principal{


  padding-top: var(--pading-top-sticky-header) !important;

}

.tituloSeccion:hover{
  text-decoration: underline;
}

.row{

  padding-left: 3%;
  flex-wrap: wrap;

}

.playlistLink{
  display:flex;
}
