.mainContentContainer {

  padding-top: var(--pading-top-sticky-header) !important;
}

.columnOfListas {

  padding-left: 0.5% !important;
  margin-top: 3%;
  margin-bottom: 3%;

}

.categoryTitleContainer {

  flex-grow: 2;
  padding-bottom: 1%;

}

.categoryTitleContainer button {

  display: flex;
  justify-content: start;
  background: transparent;
  border: none;
  color: var(--pure-white);
  font-size: 1.35rem;
  font-weight: 800;

}

.mostrarTodoContainer {

  flex-shrink: 3;
  justify-content: flex-end;
  padding-top: 0.6%;
  padding-right: 2%;

}

.mostrarTodoContainer button {

  background: transparent;
  border: none;
  color: var(--grey);

}

.mostrarTodo:hover {

  text-decoration: underline;

}


.categoryTitle:hover {

  text-decoration: underline;

}

.row {

  padding-left: 3%;
  flex-wrap: nowrap;

}
