.wrapperNavbar {
  position: fixed;
  top: 0;
  left: 0;

  width: var(--sidebar-width);
  min-width: 200px;
  max-width: var(--sidebar-width);
  height: var(--sidebar-height);
  padding: 0.5% 0.5% 0 0.5%;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;

  background-color: var(--secondary-black);
  border-radius: 12px;
  padding: 8px 12px;
}

.headerLi {
  margin: 4%;
  color: var(--secondary-white);
  font-weight: bold;
}

.aHeader {
  color: inherit;
}

.ul {
  padding: 0 !important;
  margin: 0 !important;
}

.headerI {
  padding-right: 2rem;
  font-size: 1.15rem !important;
  color: var(--secondary-white);
  color: inherit !important;
}

.linksubtle {
  color: var(--pure-white) !important;
  -webkit-transition-duration: 0s;
  transition-duration: 0.2s;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.linksubtleClicked {
  color: var(--pure-white) !important;
  -webkit-transition-duration: 0s;
  transition-duration: 0.2s;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

/* LIBRARY */

.libraryWrapper {
  background-color: var(--secondary-black);
  margin-top: 4%;
  border-radius: 12px;
  padding-left: 0%;
  padding-right: 0%;
  overflow: hidden;
  height: 100%;
}

.playlistUlWrapper {
  color: var(--primary-white);
  padding: 0 !important;
  overflow: hidden;
  padding: 5% 0 5% 1.75% !important;
  height: 100%;
}

.ulPlaylist {
  margin: 0 !important;
  padding: 0;
  overflow-x: hidden;
  max-height: 78svh;
  overflow-y: auto;
  scrollbar-width: none;
  height: 100%;
  /* Firefox */
}

.ulPlaylist::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.selectedPlaylist {
  background-color: var(--separator-white);
}

/* TU BIBLIOTECA */

.headerTuBiblioteca div div i {
  color: var(--secondary-white);
  margin-right: 2%;
}

.headerTuBiblioteca div label {
  color: var(--secondary-white);
}

.headerTuBiblioteca button {
  color: var(--secondary-white);
  border-radius: 25px;
  padding: 0 5px 0 5px !important;
}

.headerTuBiblioteca button:hover {
  color: var(--primary-white);
  background-color: var(--hover-white);
}

.headerTuBiblioteca button:focus {
  color: var(--primary-white);
  background-color: var(--secondary-black);
  box-shadow: var(--primary-black);
}