.wrapperStickyHeader {


  position: fixed;
  z-index: 2;
  padding: 2% 3% 0% 2%;
  overflow: hidden;
  top:0;
  right: 0;
  margin-right: 0.5%;
  width: calc(100svw - var(--sidebar-width));
  border-radius: 14px 14px 0 0;

}

/* ARROWS */

.wrapperDirectionArrows figure {

  margin: 0;
  margin-right: 2%;
  width: 24px;
  height: 24px;
  padding: 0.75%;
  background-color: var(--primary-black);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-white);
  cursor: pointer;
}


/* PROFILE and GROUP SESSION */

.wrapperProfileOptions{

  justify-content: center;
  margin-right: 6%;

}

.wrapperProfileOptions figure {

  padding: 0.75%;
  border-radius: 50px;
  background-color: var(--primary-black);
  cursor: pointer;


}

.wrapperProfileOptions figure img {

  width: 24px;
  height: 24px;
  border-radius: 50px;


}

.groupIcon {

  color: var(--primary-white);

}


