


.wrapperStickyHeader {


  position: absolute;
  z-index: 2;
  color: white;
  padding: 2% 3% 2% 2%;


}

/* .wrapperDirectionArrows {


}


.wrapperProfileOptions{



} */


.wrapperProfileOptions figure{

  padding: 0.75%;
  border-radius: 50px;
  background-color: var(--primary-black);
  cursor: pointer;


}
.wrapperProfileOptions figure img{

  width: 24px;
  height: 24px;
  border-radius: 50px;

}

.groupIcon{

  color: var(--primary-white);

}
