p{

    margin-bottom: 0 !important;
    font-size: 0.75rem;
    color: var(--primary-white);
}

.playerBarContainer{

    justify-content:center;
    align-items: center;
    flex-grow: 1;
}

.buttonsPlayerContainer{

    justify-content: center;
    padding-top: 1.1%;
    align-items: center;
}

.buttonsPlayerContainer a {

    color: var(--secondary-white);
    padding: 0 1.25% 0 1.25%;
    font-size: 1.5rem;

}

.buttonsPlayerContainer a:hover {

    color: var(--pure-white);

}

.buttonsPlayerContainer a:nth-child(3){

    color: var(--pure-white);
    font-size: 2rem;

}

.playerContainer{

    white-space: nowrap;
    padding-bottom: 1%;

}