body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{


  text-decoration: none;
  color: inherit;
}

ul{

  list-style: none;
}


:root{

  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-family: 'Montserrat', sans-serif;


  /* Colores globales de la aplicacion */

  --primary-black: #000000;
  --secondary-black:#121212;
  --pure-white:#00000;
  --primary-white:#dfdfdf;
  --secondary-white:#b3b3b3;
  --third-black :#161616;
  --hover-white : #272727;

}