site_name: Spotify Electron Documentation
site_author: Antonio Martinez Fernandez
repo_url: https://github.com/AntonioMrtz/SpotifyElectron
site_description: Documentation for Spotify Electron, an open-source cross-platform music streaming app
remote_branch: gh-pages

nav:
  - Home: index.md
  - Vision: VISION.md
  - How to contribute: CONTRIBUTING.md
  - Git convention: Git-Convention.md
  - Global Set up: SETUP.md
  - Architecture: Architecture.md
  - Authentication & Login: Auth-Login.md
  - Backend:
      - Set up: backend/SETUP.md
      - Environment: backend/Environment.md
      - File Structure: backend/File-Structure.md
      - Cloud: backend/Cloud.md
      - Docker: backend/Docker.md
      - Linting & Formatting: backend/Linting-&-Formatting.md
      - Testing: backend/Testing.md
      - FAQ: backend/FAQ.md
  - Frontend:
      - Set up: frontend/SETUP.md
      - File Structure: frontend/File-Structure.md
      - Linting & Formatting: frontend/Linting-&-Formatting.md
      - Testing: frontend/Testing.md
      - Package app: frontend/Package-app.md
      - FAQ: frontend/FAQ.md
  - Utils:
    - Release procedure: utils/Release-Procedure.md
    - OpenAPI schema generation & usage: utils/OpenAPI.md
    - Mkdocs development & usage: utils/Mkdocs.md
    - Generate Mock data: utils/Generate-Mock-Data.md
    - Testing principles: utils/Testing-Principles.md
  - Code of conduct: CODE_OF_CONDUCT.md
  - Contributors: CONTRIBUTORS.md

theme:
  logo: assets/logo.png
  name: material
  features:
    - navigation.indexes
  palette:
    - scheme: slate
      primary: black
      accent: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

plugins:
  - mkdocstrings
  - search
  - mkdocs-video

markdown_extensions:
  - mdx_truly_sane_lists
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
