.mainModalContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100svh;
  width: 100svw;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 1);
  background: linear-gradient(rgba(81, 81, 81, 1) 0%, rgb(0, 0, 0) 100%);
  z-index: 9999;
}

.loadingCircleWrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contentWrapper {
  background-color: black;
  border-radius: 8px;
  padding: 2rem;
  width: 100%;
  max-width: 700px;
}

.contentWrapper hr {
  margin: 0px 100px 32px 100px;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-image: initial;
  border-top: 1px solid var(--secondary-white);
}

.contentWrapper h1 {
  color: var(--pure-white);
  text-align: center;
  margin-bottom: 3rem !important;
  font-weight: 700;
  font-size: 2rem !important;
}

.titleContainer {
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.titleContainer img {
  max-width: 2.5rem;
  margin-right: 10px;
}

.titleContainer h2 {
  color: var(--pure-white);
  margin: 0 !important;
}

.formWrapper {
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 324px;
}

.formWrapper label {
  color: var(--pure-white);
  font-size: 0.875rem;
  width: 100%;
  margin-bottom: 16px;
  font-weight: 600;
}

.formWrapper input {
  border-radius: 4px;
  background-color: var(--secondary-black);
  border: none;
  color: var(--pure-white);
  padding: 8px;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.formWrapper input:focus {
  box-shadow: inset 0 0 0 3px var(--pure-white, #000000);
}

.formWrapper input:disabled {
  opacity: 50%;
}

.loginButton {
  border-radius: 999px;
  background-color: var(--app-logo-color-darker);
  border: none;
  font-size: 1rem;
  width: 100%;
  padding: 8px;
  margin-top: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.loginButton:hover {
  transform: scale(1.08);
}

.loginButton:disabled {
  transform: none;
}

.registerButton {
  border-radius: 999px;
  background-color: var(--app-logo-color-darker);
  border: none;
  font-size: 1rem;
  width: 100%;
  padding: 8px;
  margin-top: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.registerButton:hover {
  transform: scale(1.04);
}

.registerButton:disabled {
  transform: none;
}

.wrapperRegisterText {
  font-weight: 400;
}

.wrapperRegisterText button:hover {
  color: var(--app-logo-color-darker) !important;
}

.wrapperRegisterText button:disabled {
  opacity: 50%;
}

@media (max-width: 1336px) {
  .contentWrapper h1 {
    margin-bottom: 2rem !important;
  }
}
