fastapi==0.109.1
python-dotenv==0.21.0
python-jose==3.3.0
python-multipart==0.0.7
requests==2.32.0
librosa==0.10.0.post2
pymongo==4.6.3
bcrypt==4.0.1
httpx==0.24.1
uvicorn==0.22.0
numpy==1.26.4
setuptools==72.1.0
