.accordionDetails input,
.accordionDetails textarea {
  border: 0 !important;
  outline: 0 !important;
  background: transparent !important;
  border-bottom: 1px solid var(--secondary-white) !important;
  color: var(--primary-white) !important;
  padding: 5px !important;
  width: 100%;
}

.accordionDetails input:focus,
.accordionDetails textarea:focus {
  box-shadow: 0 0rem !important;
}

.accordionDetails select {
  color: var(--primary-white) !important;
  background: transparent !important;
}

.option {
  background-color: var(--third-black) !important;
  color: var(--primary-white) !important;
}

.btnSend {
  background-color: var(--secondary-green);
  border-color: var(--secondary-green);
  color: var(--primary-white);
  margin-top: 5%;
}

.btnSend:hover {
  background-color: var(--primary-green);
  border-color: var(--secondary-green);
  color: var(--primary-white);
}

.btnSend:focus {
  background-color: var(--secondary-green);
  border-color: var(--secondary-green);
  box-shadow: 0 0rem !important;
}

.containerThumbNailUpload {
  display: flex;
  margin-left: 0%;
  overflow-x: hidden;
}

.containerThumbNailUpload img {
  max-height: 30svh;
  padding: 5%;
}

.accordionDetails {
  overflow-x: hidden;
}

.formAddSong {
  margin-right: 5%;
}

@media (max-width: 870px) {
  .containerThumbNailUpload {
    display: none;
  }

  .containerSelectAndFileSelector {
    flex-direction: column !important;
  }
}

@media (max-width: 1300px) {
  .containerSelectAndFileSelector {
    flex-direction: column !important;
    justify-content: start;
    align-items: flex-start !important;
  }

  .formAddSong {
    margin-right: 10%;
  }
}

@media (min-width: 1300px) {
  .containerThumbNailUpload {
    margin-right: 5%;
  }

  .btnSend {
    margin-top: 2%;
  }
}

.modalprueba {
  background: green;
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2999;
}
