.wrapperAccordion {

  border-radius: var(--border-radius-thumbnails);
  background-color: var(--hover-white) !important;
  overflow-x: hidden;

}

.wrapperAccordion svg {

  color: var(--secondary-green);
}
