.wrapperPlaylist {

  padding: 5px 0 5px 10px !important;
  border-radius: 6px;
  height: 64px;
  cursor: pointer;
}

.wrapperPlaylist:hover {

  background-color: var(--hover-white);
}

.wrapperPlaylist img {

  border-radius: var(--border-radius-thumbnails);
  width: 48px;
  height: 48px;

}

.wrapperPlaylist label {

  font-size: 1.15rem;
  cursor : pointer

}

.wrapperPlaylist p {

  color: var(--grey);
}
