

.songInfoContainer{

    padding-right: 0% !important;
}

.infoCancionContainer{

    padding: 0 5% 0 3%;
    justify-content: center;

}

.songInfoContainer img{

    width: 64px;
    border-radius: var(--border-radius-thumbnails);
    margin-top:2% ;
    margin-bottom:2% ;

}

.infoCancionContainer a:hover{

    color: var(--primary-white) !important;
    text-decoration: underline;
    font-size: 1.25rem;



}

.infoCancionContainer a:nth-child(2){

    font-size: 0.85rem;
    color: var(--secondary-white);

}

.infoCancionContainer a:first-child{

    font-size: var(--font-size-song-footer);
    color: var(--primary-white);
    font-size: 1.25rem;


}

.likeContainer{

    justify-content: center;
    color: var(--secondary-white);
}

.likeContainer i{

    color: var(--secondary-white);
}

.likeContainer a:hover i{

    color: var(--primary-white) !important;


}
