.songInfoContainer {

  padding-right: 0% !important;
}

.infoCancionContainer {

  padding: 0 5% 0 3%;
  justify-content: center;

}

.songInfoContainer img {

  width: 64px;
  border-radius: var(--border-radius-thumbnails);
  margin-top: 2%;
  margin-bottom: 2%;

}

.infoCancionContainer a:hover {

  color: var(--primary-white) !important;
  text-decoration: underline;

}

.infoCancionContainer a:first-child {

  font-size: var(--font-size-song-footer);
  color: var(--primary-white);
  font-size: var(--font-size-song-footer);


}

.infoCancionContainer a:nth-child(2) {

  font-size: var(--font-size-artist-footer);
  color: var(--secondary-white);

}


.likeContainer {

  justify-content: center;
  color: var(--secondary-white);
}

.likeContainer i {

  color: var(--secondary-white);
}

.likeContainer button:hover i {

  color: var(--primary-white) !important;


}

.displayNoneLike{
  display:none;
}
