.wrapperPlaylist {

  padding: 0 !important;
}

.header {

  padding: 8% 0% 0% 2%;
  color: var(--pure-white);

}

.header .wrapperThumbnail {

  width: 192px !important;
  height: 192px;
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 192px;
  background-color: transparent;
  border: none !important;
  padding: 0 !important;
}

.header .wrapperThumbnail:hover {

  transform: scale(1.02);
}

.header img {

  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1/1;
  color: wheat
}

.header h2 {

  margin: 0 !important;
  font-size: .875rem;
}

.header h1 {

  font-size: 3rem;
  font-weight: bold !important;
  margin: 0.5% 0 0.5% 0;
}

.header p {

  font-weight: lighter !important;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(transparent 0, rgba(0, 0, 0, .8) 100%);
  height: 100%;
}

.backgroundFilter::after {
  -webkit-backdrop-filter: blur(300px);
  /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
  backdrop-filter: blur(300px);
  /* Supported in Chrome 76 */

  filter: brightness(0.5);

  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;



}

.backgroundFilter {
  position: relative;
  padding-left: 0%;

}

.nonBlurred {

  position: relative;
  z-index: 2;
  padding-left: 2%;
}

.headerText {

  justify-content: flex-end;
  /*   padding: 0 0 2% 3%;
 */
}

.descriptionText {
  font-size: 0.785rem;
  color: var(--secondary-white);
}

.headerText div p {
  /* Number of songs <p> */
  font-size: 0.85rem;
}

.subhHeaderPlaylist {

  margin-top: 2%;
  padding: 2.5%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
  background: linear-gradient(rgba(0, 0, 0, .5), transparent 0 100%);
  display: flex;
  align-content: center;
}

.subhHeaderPlaylist button {

  border: none;
  background-color: transparent;
  margin-right: 2%;
}

.subhHeaderPlaylist button i {

  font-size: 1.5rem;
  color: var(--secondary-white);
}

.subhHeaderPlaylist .hoverableItemubheader:hover>i {

  color: var(--pure-white) !important;
}

.subhHeaderPlaylist .hoverablePlayButton:hover>i {

  transform: scale(1.02);

}

.displayNonePlay {
  display: none;
}

.displayNoneLike {
  display: none;
}

/** SONG TABLE */


.wrapperSongTable {

  padding: 2%;
  color: var(--pure-white);
  background-color: var(--secondary-black);

}

.wrapperSongTable ul {

  padding: 0 !important;
}

.wrapperSongTable li {

  padding: 1% 0 0% 0 !important;

}

.wrapperSongTable li:not(:first-child) {

  border-radius: var(--border-radius-thumbnails)
}

.wrapperSongTable li:not(:first-child):hover {

  background-color: var(--hover-white);
}

.wrapperSongTable ul:first-child {

  color: var(--secondary-white);

}

.gridContainer button{

  border: none;
  background-color: transparent;
  font-weight: 300;
  text-align: start;
  color: var(--secondary-white);
}

.gridContainer button:hover{

  text-decoration: underline;
  color: var(--pure-white);
}

.gridContainerFirstRow {

  color: var(--secondary-white) !important;
  border-bottom: 1px solid var(--hover-white);
  margin-bottom: 10px;

}


.songNumberTable {

  margin: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  width: 15px;

}

.songTitleTable {

  color: var(--pure-white);
  padding: 10px 0 10px 0;

}

.gridContainer {
  display: grid;
  grid-template-columns: 0.2fr 8fr 1fr;
  grid-gap: 10px;
}

.gridItem {
  padding: 10px;
  font-weight: 300;
}

.artistNameContainer {

  font-size: 0.875rem;
}

.titleContainer {

  padding: 0 !important;
}


/* Update PLAYLIST MODAL */

.wrapperUpdatePlaylistModal {

  background-color: var(--hover-white);
  border-radius: var(--border-radius-thumbnails);
  border: 1px solid var(--hover-white);

}

.wrapperUpdateTextData div input,
.wrapperUpdateTextData div textarea {

  color: var(--primary-white) !important;
  background-color: transparent !important;
  border: 1px solid var(--secondary-white) !important;
  resize: none;
}

.inputPlaylist label,
.inputPlaylist div textarea {

  color: var(--primary-white);
}

.inputPlaylist input:focus+label,
.inputPlaylist div textarea:focus+label {

  display: block !important;
  font-size: 0.7rem !important;
}

.inputPlaylist input:focus,
.inputPlaylist div textarea:focus {

  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.75) !important;

}

.wrapperUpdatePlaylistModal header {

  margin-bottom: 4%;
}

.wrapperUpdatePlaylistModal header h1 {

  font-size: 1.5rem;
  font-weight: 700;
  color: var(--pure-white);

}

.wrapperUpdatePlaylistModal header button {

  background-color: transparent;
  border: none;
  width: 32px;
}

.wrapperUpdatePlaylistModal header button:hover {

  background-color: hsla(0, 0%, 100%, .1);
  border-radius: 32px;
  padding: 1%;
}

.wrapperUpdatePlaylistModal header button i {

  color: var(--secondary-white);
  font-size: 1.15rem;
}


.wrapperUpdateThumbnail {

  width: 180px !important;
  height: 180px;
  min-width: 180px;
  align-items: center;


}

.wrapperUpdateThumbnail img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1/1;
}


.wrapperUpdateButton button {

  background-color: var(--primary-white);
  border: 1px solid var(--primary-white);
  border-radius: var(--border-radius-rounded-button);
  padding: 2% 4% 2% 4%;
  font-weight: bold;
  font-size: 1.20rem;
}

.wrapperUpdateButton button:hover {

  transform: scale(1.05);
}

@media (min-height:768px) {


  .header h1 {

    font-size: 4rem;
  }

}
