.principal{

    padding: 8% 0% 0% 2%;
  
  }

.columnOfGeneros {

    padding-left: 0.5% !important;
    margin-top: 1%;
    margin-bottom: 1.5%;
  }

.columnTitle {

    color: var(--pure-white);
    padding-bottom: 1%;
  
  
  }

.cardContainer{
    flex-wrap: wrap;
}