.wrapperContextMenu{


  background-color: var(--hover-white);
  width: 250px;
  border-radius: 4px;
  color: hsla(0,0%,100%,.9);
  padding: 4px
}

.wrapperContextMenu ul{

  margin: 0px;
}

.wrapperContextMenu ul li:first-child{

  border: none;
  border-bottom: 1px solid var(--separator-white);

}

.wrapperContextMenu ul li:last-child  {

  border: none !important;
}

.wrapperContextMenu ul li + li {
  border-top: none; /* Elimina el borde superior del siguiente <li> */
}

.wrapperContextMenu ul li{

  padding: 1%;
  border-top: 1px solid var(--separator-white);
  border-bottom: 1px solid var(--separator-white);
}

.wrapperContextMenu ul li button{

  background-color: transparent;
  border: none;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  color: inherit;
  font-size: 0.875rem;
  font-weight: 300 !important;
  padding: 12px;
}
