.wrapperNavbar{

    width: 18svw;
    height: 85svh;
    padding: 1%;

    display: flex;
    flex-direction: column;


}

.header{

    display: flex;
    flex-direction: column;
    
    background-color: var(--secondary-black);
    border-radius: 12px;
    padding: 8%;


}

.headerLi{

    margin: 2%;


}

.aHeader{


}




.ul{

    padding: 0 !important;
    margin: 0 !important;
}

.headerI{
    padding-right: 3vw;
    font-size: 1.15rem !important;
    color: var(--secondary-white);
    
}