

:root {

    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    font-family: 'Montserrat', sans-serif;

    --bright-dark-blue:#4D4C53;

}

a {

    text-decoration: none;

}



/************* MEDIA QUERIES ***************************/



@media (max-width:990px) {

    .clase-contenedor button{

        background-color: var(--bright-dark-blue);
    
    }
}