.wrapperFooter{

    position: fixed;
    top: 0;
    left: 0;
    margin-top: var(--sidebar-height);
    margin-bottom: 0;
    padding-bottom: 0;
    height: 100svh;
    background-color: var(--primary-black);

}