.wrapperContextMenu {
  background-color: var(--hover-white);
  width: 15svw !important;
  border-radius: 4px;
  color: hsla(0, 0%, 100%, 0.9);
  padding: 4px;
  z-index: 9999;
}

.wrapperContextMenu ul {
  margin: 0;
  padding: 1% !important;
  list-style: none;
}

.wrapperContextMenu ul li {
  padding: 1% !important;
  border-top: 1px solid var(--separator-white);
  border-bottom: 1px solid var(--separator-white);
  position: relative;
}

.wrapperContextMenu ul li:first-child {
  border: none;
  border-bottom: 1px solid var(--separator-white);
}

.wrapperContextMenu ul li:last-child {
  border: none !important;
}

.wrapperContextMenu ul li button,
.wrapperContextMenu ul li > div {
  background-color: transparent;
  border: none;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  color: inherit;
  font-size: 0.875rem;
  padding: 12px;
  border-radius: 2px;
  text-align: start;
  cursor: pointer;
}

.wrapperContextMenu ul li > div {
  justify-content: space-between;
}

.wrapperContextMenu ul button:hover,
.wrapperContextMenu ul li > div:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.wrapperContextMenuAddToPlaylist {
  width: 15svw !important;
  height: 40svh;
  overflow-y: scroll;
  pointer-events: auto;
}

/* Scrollbar styling */
.wrapperContextMenuAddToPlaylist::-webkit-scrollbar {
  width: 10px;
}

.wrapperContextMenuAddToPlaylist::-webkit-scrollbar-track {
  background-color: transparent;
}

.wrapperContextMenuAddToPlaylist::-webkit-scrollbar-thumb {
  background: #555;
}

.wrapperContextMenuAddToPlaylist::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* Popover fixes */
.MuiPopover-root {
  z-index: 10000 !important;
}

.MuiPopover-paper {
  pointer-events: auto !important;
}