.wrapperContextMenu {
  background-color: var(--hover-white);
  width: 15svw !important;
  border-radius: 4px;
  color: hsla(0, 0%, 100%, 0.9);
  padding: 4px;
}

.wrapperContextMenu ul {
  margin: 0px;
  padding: 1% !important;
}

.wrapperContextMenu ul li {
  padding: 1% !important;
  border-top: 1px solid var(--separator-white);
  border-bottom: 1px solid var(--separator-white);
}

.wrapperContextMenu ul li:first-child {
  border: none;
  border-bottom: 1px solid var(--separator-white);
}

.wrapperContextMenu ul li:last-child {
  border: none !important;
}

.wrapperContextMenu ul li+li {
  border-top: none;
  /* Elimina el borde superior del siguiente <li> */
}

.wrapperContextMenu ul li button {
  background-color: transparent;
  border: none;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  color: inherit;
  font-size: 0.875rem;
  padding: 12px;
  border-radius: 2px;
  text-align: start;
  /* font-weight: 300 !important;
 */
}

.wrapperContextMenu ul button:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

/* Add to playlist */

.wrapperContextMenuAddToPlaylist {
  width: 15svw !important;
  height: 40svh;
  overflow-y: scroll;
}

/* Scrollbar AddToPlaylist */

.wrapperContextMenuAddToPlaylist::-webkit-scrollbar {
  display: block;
  width: 10px;
  /* Set the width of the scrollbar */
  transition: background-color 0.2s;
}

.wrapperContextMenuAddToPlaylist::-webkit-scrollbar-track {
  background-color: transparent;
  /* Background color of the scrollbar track */
}

.wrapperContextMenuAddToPlaylist::-webkit-scrollbar-thumb {
  background: #555;
  /* Color of the thumb on hover */
}

.wrapperContextMenuAddToPlaylist::-webkit-scrollbar-thumb:hover {
  background: #888;
  /* Color of the scrollbar thumb */
}

.wrapperContextMenuAddToPlaylist li:not(:nth-child(2)) {
  border: none !important;
}
