name: Backend Build with MongoDB

on:
  pull_request:
    branches:
      - 'master'
      - 'master-*'

jobs:
  backend-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Install Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install docker-compose -y

      - name: Start services
        working-directory: Backend/docker/
        run: |
          chmod +x build_and_up_dev.sh
          ./build_and_up_dev.sh

      - name: Run health check
        run: |
          sleep 40
          curl -f localhost:8000/health/

      - name: Shutdown services
        run: |
          docker-compose -f Backend/docker/docker-compose.yml down
