name: Backend API Tests

on:
  pull_request:
    branches:
      - 'master'

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x # Replace with the desired Python version, e.g., 3.8, 3.9, etc.

      - name: Install dependencies
        working-directory: Backend API # Change to your backend API directory path
        run: pip install -r requirements.txt

      - name: Run tests
        working-directory: Backend API/src # Change to your backend API src directory path
        run: python -m pytest -s

      - name: Fail workflow on test failure
        if: ${{ failure() }}
        run: exit 1

